
// base ..

@import './variable';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 1rem = 10px
}

a {
  text-decoration: none;
}

#root {
  display: flex;
  justify-content: center;
  background-color: var(--on-surface);
}

.body {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
}

.App {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 50rem;
  background: var(--surface);
  position: relative;
}

.material-symbols-outlined {
  font-size: 5rem;
  font-variation-settings: 'FILL' 0, 'wght' 500, 'GRAD' 0;
}

.color {
  color: var(--on-surface-variant);
}

.active {
  background: var(--primary-container);
  & span {
    color: var(--on-primary-container);
  }
  & p {
    color: var(--on-primary-container);
  }
  & .color {
    color: var(--on-primary-container);
  }
}